.title-urna {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  font-size: 40px;
  font-weight: bold;
}
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.table-header {
  background-color: #13cae6;
}

.table-urna {
  width: 1000px;
}

table.table-urna td {
  width: 50px;
  border: 2px solid #757a96;
  padding: 2px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 50px;
}

table.table-urna th {
  width: 60px;
  border: 2px solid #757a96;
  padding: 2px 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height: 60px;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}
